{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
{% include "utils/form-error-messages.html" %}

<div class="ui stacked segment">
  <h2 class="ui dividing header">{% trans "Change Password" %}</h2>

  <form class="ui large form" method="POST" action="{% url 'account_change_password' %}">
    {% csrf_token %}

    {% include "utils/form-field.html" with field=form.oldpassword inline=True icon="lock" %}
    {% include "utils/form-field.html" with field=form.password1 inline=True icon="lock" %}
    {% include "utils/form-field.html" with field=form.password2 inline=True icon="lock" %}

    <button class="ui fluid large submit button" name="action" type="submit">{% trans 'Change Password' %}</button>
  </form>
</div>

<div class="ui message">
  <p><a href="{% url 'home' %}">{% trans "Voltar" %}</a></p>
</div>
{% endblock %}