{% extends "account/base.html" %}

{% load i18n %}
{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
{% include "utils/form-error-messages.html" %}

<div class="ui stacked segment">
  <h2 class="ui dividing header">
    {% if token_fail %}
      {% trans "Bad Token" %}
    {% else %}
      {% trans "Change Password" %}
    {% endif %}
  </h2>

  {% if token_fail %}
    {% url 'account_reset_password' as passwd_reset_url %}
    <p>
      {% blocktrans %}
        The password reset link was invalid, possibly because it has already been used.
        Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.
      {% endblocktrans %}
    </p>
  {% else %}
    {% if form %}
      <form class="ui large form" method="post" action="{{ action_url }}">
        {% csrf_token %}

        {% include "utils/form-field.html" with field=form.password1 inline=True icon="lock" %}
        {% include "utils/form-field.html" with field=form.password2 inline=True icon="lock" %}

        <button class="ui fluid large submit button" name="action" type="submit">{% trans 'change password' %}</button>
      </form>
    {% else %}
      <p>{% trans 'Your password is now changed.' %}</p>
    {% endif %}
  {% endif %}
</div>
{% endblock %}