{% extends 'adm/base.html' %}

{% load static  %}

{% block title %}Admin - Valores - Serviços de Comunicação{% endblock %}

{% block breadcrumb %}
<i class="right chevron icon divider"></i>
<a class="section" href="{% url 'adm_call_pricetable_list' %}">
  <h2 class="ui inverted header">Valores - Serviços de Comunicação</h2>
</a>
<i class="right chevron icon divider"></i>
<a class="section" href="#">
  <h2 class="ui inverted header">{{ pricetable.name }}</h2>
</a>
{% endblock %}

{% block adm-content %}
<div class="ui internally celled grid">
  <div class="row">
    <div class="four wide column">
      <table class="ui definition table">
        <tbody>
          <tr>
            <td>Tabela</td>
            <td>{{ pricetable.name }}</td>
          </tr>
          <tr>
            <td>Proprietário</td>
            <td>
              {% if pricetable.organization %}
                {{ pricetable.organization.name }}
              {% else %}
                Administrador
              {% endif %}
            </td>
          </tr>
          <tr>
            <td>Criado em</td>
            <td>{{ pricetable.created|date:"d/m/Y" }} às {{ pricetable.created|time:"H:i" }}</td>
          </tr>
          <tr>
            <td>Atualizado em</td>
            <td>{{ pricetable.modified|date:"d/m/Y" }} às {{ pricetable.modified|time:"H:i" }}</td>
          </tr>
          <tr>
            <td>Status</td>
            <td>
              {% if pricetable.status %}
                <span class="ui green label">Ativa</span>
              {% else %}
                <span class="ui red label">Inativa</span>
              {% endif %}
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2">
              <a class="fluid ui blue basic button" href="{% url 'adm_call_pricetable_update' pricetable.id %}">
                <i class="edit outline icon"></i> Editar
              </a>
            </td>
          </tr>
        </tfoot>
      </table>
      <table class="ui compact table">
        <thead>
          <tr>
            <th>
              {% if pricetable.organization %}
                Clientes
              {% else %}
                Organizações
              {% endif %}
            </th>
          </tr>
        </thead>
        <tbody>
          {% if pricetable.organization %}
            {% for company in pricetable.call_company_set.all %}
              <tr>
                <td>{{ company.name }}</td>
              </tr>
            {% empty %}
              <tr>
                <td> ---- </td>
              </tr>
            {% endfor %}
          {% else %}
            {% for orgsettings in pricetable.call_orgsettings_set.all %}
              <tr>
                <td>{{ orgsettings.organization.name }}</td>
              </tr>
            {% empty %}
              <tr>
                <td> ---- </td>
              </tr>
            {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>
    <div class="twelve wide column">
      <table class="ui definition table">
        <thead>
          <tr class="active">
            <td class="center aligned" colspan="2"><b>VALORES</b></td>
          </tr>
          <tr>
            <th></th>
            <th class="center aligned">Valor</th>
          </tr>
        </thead>
        <tbody>
          {% for price in price_list %}
            <tr>
              <td class="collapsing">{{ price.get_calltype_display }}</td>
              <td class="center aligned">R$ {{ price.value|default:0|floatformat:4 }}</td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="2">
                <div class="ui grid">
                  <div class="centered two column row">
                    <div class="center aligned column">
                      <h2 class="ui header">
                        <div class="content">Nenhum valor cadastrado</div>
                      </h2>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}