{% extends 'organizations/base.html' %}

{% load static %}

{% block title %}{{ organization.name }} - Tabela de Valores - Serviços Diversos{% endblock %}

{% block org-content %}
<div class="ui container">
  {% include "utils/form-error-messages.html" %}

	<h2 class="ui dividing grey header">
		<i class="table icon"></i>
		Tabelas de Valores - Serviços Diversos
	</h2>

	<div class="ui grid">
		<div class="row">
			<div class="column">
				<form class="ui form" method="post">
					{% csrf_token %}

					<h4 class="ui dividing header">Descrição</h4>
					<div class="{% if form.status %}three{% else %}two{% endif %} fields">
						<div class="ten wide field">
							{% include "utils/form-field.html" with field=form.name %}
						</div>
						{% if form.status %}
							<div class="field">
								{% include "utils/form-field.html" with field=form.status %}
							</div>
						{% endif %}
					</div>

					<h4 class="ui dividing header">Serviços Diversos</h4>
                    <div class="fields two">
						<div class="field">
							{% include "utils/form-field.html" with field=form.UST_price %}
						</div>
						<div class="field">
							{% include "utils/form-field.html" with field=form.KM_price %}
						</div>
					</div>


					<button class="ui blue button" type="submit">Salvar</button>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(() => {
      $('select.dropdown').dropdown()
    })
  </script>
{% endblock %}