{% load pagination_range %}

<div class="ui pagination menu">
  {% if page_obj.has_previous %}
    <a class="item" href="?{% if urlencode %}{{ urlencode }}&{% endif %}page=1">
      <i class="angle double left icon" aria-hidden="true"></i>
    </a>
    <a class="item" href="?{% if urlencode %}{{ urlencode }}&{% endif %}page={{ page_obj.previous_page_number }}">
      <i class="angle left icon" aria-hidden="true"></i>
    </a>
  {% else %}
    <div class="disabled item" href="?{% if urlencode %}{{ urlencode }}&{% endif %}page=1">
      <i class="angle double left icon" aria-hidden="true"></i>
    </div>
    <div class="disabled item">
      <i class="angle left icon" aria-hidden="true"></i>
    </div>
  {% endif %}

  {% for page in paginator.page_range|pagination_range:page_obj.number %}
    {% if page_obj.number == page %}
      <a class="active item">{{ page }}</a>
    {% else %}
      <a class="item" href="?{% if urlencode %}{{ urlencode }}&{% endif %}page={{ page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if page_obj.has_next %}
    <a class="item" href="?{% if urlencode %}{{ urlencode }}&{% endif %}page={{ page_obj.next_page_number }}">
      <i class="angle right icon" aria-hidden="true"></i>
    </a>
    <a class="item" href="?{% if urlencode %}{{ urlencode }}&{% endif %}page={{ paginator.num_pages }}">
      <i class="angle double right icon" aria-hidden="true"></i>
    </a>
  {% else %}
    <div class="disabled item">
      <i class="angle right icon" aria-hidden="true"></i>
    </div>
    <div class="disabled item" href="?{% if urlencode %}{{ urlencode }}&{% endif %}page={{ paginator.num_pages }}">
      <i class="angle double right icon" aria-hidden="true"></i>
    </div>
  {% endif %}
</div>