{% extends "adm/base.html" %}

{% load solicitation_tags %}

{% block title %}Organizações{% endblock %}

{% block breadcrumb %}
<i class="right chevron icon divider"></i>
<a class="section" href="{% url 'organization_list' %}">
  <h2 class="ui inverted header">Organizações</h2>
</a>
{% endblock %}

{% block adm-content %}
<table class="ui selectable compact table">
  <thead>
    <tr>
      <th>Organização</th>
      <th>Clientes</th>
      <th>Usuários</th>
      <th>Serviços Básicos</th>
      <th>Tabela de Valores</th>
      <th>E-mail de Contato</th>
      <th>Criado em</th>
      <th>Atualizado em</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for org in organizations %}
      <tr>
        <td data-label="name">
          <a href="{% url 'organization_detail' org.pk %}">{{ org.name }}</a>
        </td>
        <td>{{ org.company_set.count }}</td>
        <td>{{ org.users.count }}</td>
        <td>{{ org.settings.service_pricetable|is_empty }}</td>
        <td>{{ org.settings.call_pricetable|is_empty }}</td>
        <td>{{ org.settings.email }}</td>
        <td>{{ org.created|date:"d/m/Y" }} às {{ org.created|time:"H:i" }}</td>
        <td>{{ org.modified|date:"d/m/Y" }} às {{ org.modified|time:"H:i" }}</td>
        <td>
          {% if org.is_active %}
            <i class="circle green icon"></i>
          {% else %}
            <i class="circle red icon"></i>
          {% endif %}
        </td>
        <td class="collapsing">
          <div class="ui small buttons">
            <a class="ui basic blue button" href="{% url 'organization_edit' org.pk %}">
              <i class="edit outline icon"></i> Editar
            </a>
          </div>
        </td>
      </tr>
    {% empty %}
      {% include "utils/empty-tbody.html" %}
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <th colspan="10">
        <div class="ui grid">
          <div class="right aligned right floated column">
            <div class="ui label">
              TOTAL
              <div class="detail">{{ organizations.count }}</div>
            </div>
          </div>
        </div>
      </th>
    </tr>
  </tfoot>
</table>

<h2 class="ui dividing grey header" id="ramal-solicitation">
  <i class="sticky note outline icon"></i> Solicitações de Faixas de Ramais
</h2>
<table class="ui selectable bottom attached compact table">
  <thead>
    <tr>
      <th>Organização</th>
      <th>Faixas de Ramais</th>
      <th>Criado em</th>
      <th>Modificado em</th>
      <th>Status</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for solicitation in solicitation_list %}
      <tr>
        <td>{{ solicitation.organization }}</td>
        <td>{{ solicitation.extension_range }}</td>
        <td>{{ solicitation.created|date:"d/m/Y" }} às {{ solicitation.created|time:"H:i" }}</td>
        <td>{{ solicitation.modified|date:"d/m/Y" }} às {{ solicitation.modified|time:"H:i" }}</td>
        <td data-label="status">
          {% include "extensions/solicitation_status_label.html" with status=solicitation.status %}
        </td>
        <td class="collapsing">
          <form action="{% url 'extensions:org_solicitation_update'  solicitation.organization.slug solicitation.pk %}" method="post">
            {% csrf_token %}
            <input name='status' value='2' type='hidden'> {# SOLICITATION_APPROVED #}
            <button class="ui inverted green button" type="submit">
              <i class="check icon"></i> Aprovar
            </button>
          </form>
        </td>
        <td class="collapsing">
          <form action="{% url 'extensions:org_solicitation_update'  solicitation.organization.slug solicitation.pk %}" method="post">
            {% csrf_token %}
            <input name='status' value='4' type='hidden'> {# SOLICITATION_DENIED #}
            <button class="ui inverted red button" type="submit">
              <i class="ban icon"></i> Negar
            </button>
          </form>
        </td>
      </tr>
    {% empty %}
      {% include "utils/empty-tbody.html" with search=request.GET.search %}
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <th colspan="5">
        {% comment %} INFO variáveis de paginação para solicitações não existem
        {% if is_paginated %}
          {% include "utils/pagination.html" with page_obj=page_obj paginator=paginator page_range=page_range %}
        {% endif %}
        {% endcomment %}
      </th>
      <th colspan="2">
        <div class="ui grid">
          <div class="right aligned right floated column">
            <div class="ui label">
              TOTAL
              <div class="detail">{{ solicitation_list.count }}</div>
            </div>
          </div>
        </div>
      </th>
    </tr>
  </tfoot>
</table>
{% endblock %}